.container {
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    font-family: sans-serif;
}

.month {
    text-align: center;
    background: #bbc4c2;
    font-size: 2.5em;
    color: #747474;
    padding: 25px;
    justify-content: space-between;
}

.rigth-button{
    font-size: 3rem;
    font-weight: 400;
}

.date {
    text-align: center;
    font-size: .5em;
    color: #747474;
}

.calendar-tile {
    .day-cell {
        text-align: center;
        width: 100%;
        border: 1px solid white;
        opacity: 0.5;

        &.cur-month {
            opacity: 1;
        }

        &.current-date {
            background: green !important;
        }

        .month-name {
            display: none;
            font-size: smaller;
        }

        &.first-of-month {
            .month-name {
                display: unset;
            }
        }
    }

    .headers {
        display: flex;
    }

    .dates-wrap {
        display: flex;
        flex-wrap: wrap;

        .day-cell {
            flex: 1 0 14%;
            padding: 10px 0;
            background: silver;
        }
    }
}

table,
th,
td {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    font-size: 17px;
    border-collapse: collapse;
    border: 1px solid #fff;
}

tr,
th {
    padding: 15px;
}

td {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px;
}

th {
    color: #fff;
    background: #747474;
}

td {
    background: #bbc4c2;
}

td:hover {
    background: #747474;
}

.sunday {
    color: red;
    font-weight: bold;
}

.sunday-week {
    color: red;
}

.holiday {
    color: #000;
    font-size: x-small;
}

#holiday {
    padding-top: 25px;
    padding-bottom: 25px;
}

.holiday-list {
    border: #000;
    background: #747474;
}


@media screen and (max-width: 650px) {

    /*Hide in medium Devices*/
    .holiday {
        display: none;
    }
}

@media screen and (min-width: 650px) {

    /*Hide in small Devices*/
    .list-group {
        display: none;
    }
}
