<div mat-raised-button class="refresh" (click)="randomizeEvents()">random</div>
<div class="container p-2" style="position: relative;">
    <div class="month">
        <div class="row">
            <div class="col-md-4">
                <button class="next-month-button" mat-button (click)="leftSwitch()"><i id="header-button"
                        class="fa fa-angle-left"></i></button>
            </div>
            <div class="col-md-4">
                <strong>{{month}}</strong><br><br>
                <strong class="date">{{date | date: 'y'}}</strong>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <button class="next-month-button" mat-button (click)="rightSwitch()"><i id="header-button"
                                class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="col-md-6 pl-3">
                        <button id="header-button" mat-button (click)="todayDate()">Today</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar-tile">
        <div class="headers">
            <div class="day-cell" *ngFor="let day of weekDays">{{day}}</div>
        </div>
        <div class="dates-wrap">
            <div class="day-cell" id="date-number" *ngFor="let day of allDates" [ngClass]="day.class">{{day.dateNumber}}
                <span class="month-name">{{day.date | date:'MMM'}}</span>
                <button class="event-mark" *ngIf="day.events" mat-button (click)="eventDetails(day)"><i
                        class="event-icon fa fa-circle"></i></button>
            </div>
        </div>
    </div>
    <div *ngIf="eventLayer" class="event-type p-4" style="position: absolute;">
        <button class="float-right" mat-button (click)="closeEventDetails()"><i class="fa fa-times-circle"></i></button>
        <h2>Events on {{eventLayer.dateString}}</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-group">
                    <li id="list-background" class="list-group-item"><strong>Events</strong></li>
                    <li id="list-background" class="list-group-item" *ngFor="let event of eventLayer.events">{{event}}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-group">
                    <li id="list-background" class="right-table list-group-item"><strong>Time</strong></li>
                    <li id="list-background" *ngFor="let time of eventLayer.eventTime"
                        class="right-table list-group-item">{{time}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
