<div class="container">
    <div class="month">


        <strong>{{month}}</strong>
        <button class="rigth-button" style="margin-left: 20%;" mat-button (click)="rightSwitch()"><i style="color: grey;" class="fa fa-angle-right"></i></button>
        <br><br>
        <strong class="date">{{date |date: 'MMM dd, y'}}</strong>
        <button mat-raised-button (click)="todayDate()">Today</button>
    </div>
    <div class="calendar-tile">
        <div class="headers">
            <div class="day-cell" *ngFor="let day of weekDays">{{day}}</div>
        </div>
        <div class="dates-wrap">
            <div class="day-cell" *ngFor="let day of allDates" [ngClass]="day.class">{{day.dateNumber}}
                <span class="month-name">{{day.date |date:'MMM'}}</span>
            </div>
        </div>
    </div>

    <ul class="list-group mt-2">
        <li class="holiday-list list-group-item active">Holiday List</li>
        <li class="list-group-item">Christmas on 25th December</li>
        <li class="list-group-item" *ngFor="let date of allDates">{{date}}</li>
    </ul>
</div>
