<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="!isLoggedIn">
        <a class="nav-link" [routerLink]="['/login']">Unlock</a>
      </li>
      <li class="nav-item active" *ngIf="isLoggedIn"  (click)="logOut()">
        <a class="nav-link">Lock <fa-icon [icon]="faSignOut"></fa-icon></a>
      </li>
    </ul>
  </div>
</nav>
<!--Here the route file works start-->
<router-outlet></router-outlet>
<!--Here the route file works end-->
